@import "./vars.css";

.App {
    background-color: #fff;
    width: 100%;
    min-height: 100vh;
    font-family: var(--body-font);
}

/* Section Divider */
.sectionDivider {
    margin: 3rem auto;
    width: 60%;
    border: none;
    border-top: 2px solid var(--light-color);
}

